extends layout

block content
    h1 stuff
    
    
    br
    p SoyBoy
    p #{SoyboyVal}%
    br
    p SoyBoy Beard
    p #{SoybeardVal}%

    br
    img(src="./images/mat1.JPG" style="width: 600px; height: 500px;")


 
 