extends layout

block content
    
    .container
        .soy-logo 
            img(src="./images/Soylent.svg")

        
        br
        h2 SoyBoy
        p #{SoyboyVal}%
        br
        h2 SoyBoy Beard
        p #{SoybeardVal}%

        br
        img(class="main-img" src=imgLocation style="width: 600px; height: 500px;")


 
 