extends layout

block content
    h1 stuff


    br
    p Soylent detected:
    p #{SoyboyVal}%
    br
    p SoyBoy Beard detected:
    p #{SoybeardVal}%

    br
    img(src="./images/mat1.JPG" style="width: 600px; height: 500px;")
