extends layout

block content
    
    .container
        .soy-logo 
            img(src="./images/soyboy.gif")

        
        br
        h2 Soy
        p #{SoyboyVal}%
        br
        h2 Soy Beard
        p #{SoybeardVal}%

        br
        img(class="main-img" src=imgLocation style="width: 600px; height: 500px;")


 
 
